In [1]:
import numpy as np
import pandas as pd
import nltk
import string
import random
import copy
import re

In [3]:
df = pd.read_csv('data.csv', low_memory=False)

In [4]:
df.describe()

        LowestSalary  HighestSalary
count  318477.000000  318477.000000
mean       65.813544     114.432342
std        51.063125     177.594941
min         0.000000      30.000000
25%        30.000000      40.000000
50%        60.000000      70.000000
75%       100.000000     120.000000
max       200.000000     999.000000

In [5]:
df.dtypes

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object